---
import BlogPost from "../../layouts/BlogPost.astro";
import Button from "../../components/Button.astro";
---

<BlogPost title='Proyects'>
  <div class='justify-center grid gap-4'>
    <Button size='s'>
      example 1
      <Button size='m'>
        example 2
        <Button size='l'>example 3</Button>
        <Button>example 4</Button>
        <div class='h-24 border border-cyan-400 rounded-md p-4 m-4'>
          <h1>Hello</h1>
        </div>
      </Button>
    </Button>
  </div>
</BlogPost>
