---
import BaseHead from "../../components/BaseHead.astro";
---

<html lang='en'>
  <head>
    <BaseHead title='About' description='About me, ho a im' />
  </head>

  <main>
    <h1>Hello</h1>
  </main>

  <style>
    main {
      height: 100vh;
      background: var(--backround-body);
    }
    h1 {
      /* color: black; */
    }
  </style>
</html>
