---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
---

<html lang='en'>
  <head>
    <BaseHead title='About' description='About me, ho a im' />
  </head>

  <main>
    <Header title='About me' />
    <div class='container'>
      <article class=''>
        <p class='text-white'>
          隆Hola! Encantado de conocerte, soy Victor. Me caracterizo por ser una
          persona curiosa y apasionada por el aprendizaje en todas sus formas. A
          lo largo de mi vida, he cultivado un inter茅s constante en el
          fascinante mundo de la programaci贸n, aunque lamentablemente no tuve la
          oportunidad de estudiarlo en mis etapas anteriores. No obstante, no
          veo esto como un obst谩culo, sino como una parte natural de mi viaje
          hacia el conocimiento.
        </p>
        <p>
          Ahora, al sumergirme en el vasto universo de la programaci贸n, puedo
          afirmar sin duda que no me arrepiento en absoluto de haber tomado esta
          decisi贸n en este momento de mi vida. Estoy incre铆blemente orgulloso de
          los progresos que he logrado hasta ahora y de los desaf铆os que he
          superado en el proceso. Aunque estoy en las etapas iniciales de mi
          carrera en este campo, la ilusi贸n y la motivaci贸n que me impulsan son
          enormes.
        </p>
        <p>
          Desde mi infancia, la tecnolog铆a ha sido mi gran pasi贸n, y ahora,
          finalmente, tengo la oportunidad de convertir esa pasi贸n en una
          carrera significativa. Mi deseo es trabajar con una empresa que me
          brinde desaf铆os estimulantes, oportunidades de crecimiento y
          conocimientos profundos en el 谩rea de la programaci贸n.
        </p>
        <p>
          Estoy listo y emocionado por lo que el futuro en el mundo de la
          programaci贸n me depara. Estoy dispuesto a aprender, crecer y
          contribuir de manera significativa en este apasionante campo. 隆Espero
          con entusiasmo las oportunidades que vendr谩n y estoy decidido a hacer
          de mi carrera en la programaci贸n un viaje exitoso y gratificante!
        </p>
      </article>
    </div>
  </main>

  <style>
    main {
      height: 100vh;
      background: var(--backround-body);
    }
    .container {
      padding: 3%;
      box-sizing: border-box;
    }
    h1 {
      /* color: black; */
    }
    . {
      color: aliceblue;
      /* max-width: auto; */
      text-wrap: pretty;
      padding: 1rem;
      border-radius: 1rem;
      border: var(--border-color);
      background-color: rgba(79, 79, 79, 0.4);
      border-color: rgb(93, 93, 93);
      box-sizing: border-box;
    }
     p {
      opacity: 100%;
    }
    .:hover,
    /* ., */
    .垛锔:hover {
      border-color: rgb(230 57 70);
    }
  </style>
</html>
