---
import BlogPost from "../../layouts/BlogPost.astro";
---

<BlogPost title="Proyects">
  <section class="justify-center flex gap-16 pt-4">
    <button class="text-white border border-white p-2 rounded-md"
      >Frontend</button
    >
    <button class="text-white border border-white p-2 rounded-md"
      >Backend</button
    >
    <button class="text-white border border-white p-2 rounded-md"
      >Full Stack</button
    >
  </section>
  <div class="border border-white p-4 mx-12 rounded-2xl h-32 mt-8">
    <p>aqui van los proyectos</p>
  </div>
</BlogPost>
