/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --backround-body: linear-gradient(#111111 40%, rgb(0, 88, 88)) 60%;
  /* --backround-section-home: #00bfb9 */
  --backround-section-home: rgba(79, 79, 79, 0.4);
  --section-hover: rgb(93, 93, 93);
  --section-home-text: #ffffff;
  --section-home-shadow: #000000 0px 0px 0px 0px;
  --section-home-font: Satoshi;
  --section-home-font-size: 20px;
  --section-home-font-weight: 300;
  --section-home-font-height: 28px;
  --section-home-hover-border: #e5979c;
  --border-color: 1px solid rgba(255, 255, 255, 0.4);
  --deep-sea-green-50: #ecfffd;
  --deep-sea-green-100: #bdfffe;
  --deep-sea-green-200: #7bffff;
  --deep-sea-green-300: #31fdff;
  --deep-sea-green-400: #00fff8;
  --deep-sea-green-500: #00eddf;
  --deep-sea-green-600: #00bfb9;
  --deep-sea-green-700: #009794;
  --deep-sea-green-800: #007777;
  --deep-sea-green-900: #005858;
  --deep-sea-green-950: #003b3d;
}

* {
  /* box-sizing: content-box; */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  padding: 0.25rem;
}
