---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang='es' class='h-screen'>
  <head>
    <BaseHead
      title='Home'
      description='Portafolio Victor Eduardo Orozco Martinez, Full Stack web developer'
    />
    <ViewTransitions />
  </head>
  <body>
    <main>
      <div class='container'>
        <section class='🦖 animate-zoom-in duration-1000'>
          <img
            width='50%'
            class='rounded-[50%]'
            src='FB_IMG_1709142432381.jpg'
            alt='profile photo'
          />
          <h1>
            Hi! i'm <strong>Victor</strong>
          </h1>
          <h2><span class='text-yellow-200'>Full Stack</span> Web Developer</h2>
          <h3>Technologies</h3>
          <p>
            <span class='text-red-400'>HTML</span> | <span class='text-blue-400'
              >CSS</span
            > | <span class='text-yellow-400'>javaScript</span> | <span
              class='text-blue-600'>TypesCript</span
            > | <span class='text-violet-400'>React</span> | <span
              class='text-black'>Next</span
            > | <span class='text-red-400'>A</span>stro | <span
              class='text-red-400'>Vite</span
            >
          </p>
        </section>
        <a
          class='😶‍🌫️ hover:animate-zoom-in scale-up-horizontal-right shake-left-right'
          href='/proyects'>
          <section><h2>Proyects</h2></section>
        </a>
        <section
          class='🦝⬅️ animate-pulse grid items-center'
          class='animate-zoom-in'>
          <h3 class='text-2xl'>
            Work: <span class='text-red-600'>freelancer</span> & <span
              class='text-yellow-500'>searching</span
            >
          </h3>
        </section>
        <section class='🦝➡️ grid animate-slide-in-top p-8'>
          <!-- <p class='h-auto'>links</p> -->
          <div
            class='grid gap-4 justify-center border-white border rounded-lg max-md:flex'>
            <a href='http://www.linkedin.com/in/victormartínez' class='h-fit'>
              <svg
                class='hover:animate-pulse hover:stroke-red-600 hover:scale-150 max-md:stroke-blue-200'
                xmlns='http://www.w3.org/2000/svg'
                class='icon icon-tabler
              icon-tabler-brand-linkedin'
                width='44'
                height='44'
                viewBox='0 0 24
              24'
                stroke-width='1.5'
                stroke='#2c3e50'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'>
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path
                  d='M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z'
                ></path>
                <path d='M8 11l0 5'></path>
                <path d='M8 8l0 .01'></path>
                <path d='M12 16l0 -5'></path>
                <path d='M16 16v-3a2 2 0 0 0 -4 0'></path>
              </svg>
            </a>
            <a class='hover:h-fit' href='https://github.com/victor828'>
              <svg
                class='max-md:stroke-blue-200 hover:animate-pulse hover:stroke-red-600 hover:scale-150'
                xmlns='http://www.w3.org/2000/svg'
                class='icon icon-tabler icon-tabler-brand-github'
                width='44'
                height='44'
                viewBox='0 0 24 24'
                stroke-width='1.5'
                stroke='#2c3e50'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'>
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path
                  d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5'
                ></path>
              </svg>
            </a>

            <svg
              class='hover:animate-pulse hover:stroke-red-600 hover:scale-150 hover:fill-red-600'
              xmlns='http://www.w3.org/2000/svg'
              class='icon icon-tabler icon-tabler-mail-filled'
              width='44'
              height='44'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='#9e9e9e'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'>
              <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
              <path
                d='M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z'
                stroke-width='0'
                fill='currentColor'></path>
              <path
                d='M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z'
                stroke-width='0'
                fill='currentColor'></path>
            </svg>
          </div>
        </section>
        <a class='🦝 scale-up-vertical-top' href='/about'>
          <section><h2>About</h2></section>
        </a>
      </div>

      <style>
        h1 strong {
          color: tomato;
        }
        main {
          height: 100vh;
          background: var(--backround-body);
          box-sizing: border-box;
          /* padding: 3%; */

          /* background-color: #111111; */
        }
        .container {
          color: var(--section-home-text);
          padding: 1rem;
          display: grid;
          gap: 0.5rem;
          width: 90%;
          margin: auto;
          /* height: 100%; */
          padding: 3%;
        }
        a:hover {
          position: relative;
          box-shadow: 0 0 10px rgb(230 57 70);
          background-color: #3d3d3d;
          transform: scale(1.05);
          bottom: 10px;
        }

        .🦖 {
          background-color: var(--backround-section-home);

          border-radius: 1rem;
          border: var(--border-color);
          display: grid;
          padding: 1rem;
          text-align: center;
          justify-items: center;
          height: auto;
        }
        .🦖 img {
          aspect-ratio: 6/6;
        }
        /* .🦖:hover, */
        .🦝:hover,
        .😶‍🌫️:hover {
          border-color: rgb(230 57 70);
        }
        .😶‍🌫️ {
          background-color: var(--backround-section-home);
          border-radius: 1rem;
          border: var(--border-color);
          padding: 0.5rem;
          text-align: center;
          height: auto;
        }
        .🦝 {
          background-color: var(--backround-section-home);
          border-radius: 1rem;
          border: var(--border-color);
          padding: 0.5rem;
          text-align: center;
          height: auto;
        }
        .🦝⬅️ {
          background-color: var(--backround-section-home);
          border-radius: 1rem;
          border: var(--border-color);
          padding: 0.5rem;
          /* height: 20%; */
          text-align: center;
          width: auto;
        }
        .🦝➡️ {
          background-color: var(--backround-section-home);
          border-radius: 1rem;
          border: var(--border-color);
          padding: 0.5rem;
          text-align: center;
          /* height: 20%; */
          width: auto;
        }

        /* here is the media  */
        @media (min-width: 768px) {
          a:hover {
            transform: scale(1.1);
            bottom: 10px;
          }
          main {
            background: var(--backround-body);
            height: 100vh;
          }
          .container {
            /* padding-top: 5%; */
            /* width: 80%; */
            height: 85%;
            display: grid;
            grid-template-areas:
              "a b b"
              "a c d"
              "a e e";
          }
          .🦖 {
            border-radius: 1rem;
            border: 1px solid white;
            /* grid-column: 1; */
            /* grid-row: 1/3; */
            grid-area: a;
          }

          .🦝⬅️ {
            grid-area: c;
            border-radius: 4px;
            border: 1px solid white;
            /* grid-column: 2/2; */
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
          }
          .🦝➡️ {
            grid-area: d;
            border-radius: 4px;
            border: 1px solid white;
            /* grid-column: 2/2; */
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
          }
          .😶‍🌫️ {
            border-radius: 4px;
            border: 1px solid white;
            /* grid-column: 2/2; */
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
            grid-area: b;
          }
          .🦝 {
            min-width: 200px;
            border: 1px solid white;
            border-radius: 1rem;
            padding: 1rem;
            text-align: center;
            grid-area: e;
          }
        }
        @media (min-width: 2560px) {
          .container {
            /* padding-top: 2%; */
            background-color: tomato;
            width: 80%;
          }
          h1 {
            font-size: 5.052em;
            height: fit-content;
          }
        }
        /* Animation */
        /* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

        .scale-up-horizontal-left {
          animation: scale-up-horizontal-left 0.5s;
        }
        @keyframes scale-up-horizontal-left {
          0% {
            transform: scaleX(0);
            transform-origin: left center;
          }
          100% {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }

        .scale-up-horizontal-right {
          animation: scale-up-horizontal-right 0.4s;
        }
        @keyframes scale-up-horizontal-right {
          0% {
            transform: scaleX(0);
            transform-origin: right center;
          }
          100% {
            transform: scaleX(1);
            transform-origin: right center;
          }
        }

        .scale-up-vertical-top {
          animation: scale-up-vertical-top 0.4s linear;
        }
        @keyframes scale-up-vertical-top {
          0% {
            transform: scaleY(0);
            transform-origin: center top;
          }
          100% {
            transform: scaleY(1);
            transform-origin: center top;
          }
        }
      </style>
    </main>
  </body>
</html>
