---
import { HeaderMenu } from "./headerMenu";
const { title } = Astro.props;
---

<header class={` flex bg-black text-white px-4 md:flex md:m-auto `}>
  <HeaderMenu client:visible />
</header>
<h1 class='text-center'>{title}</h1>

<style>
  header {
    position: sticky;
    top: 0;
    background-color: black;
    padding-inline: 0.5rem;
    display: flex;
    width: fit-content;
    border-radius: 0.5rem;
  }
  header button {
    border: var(--border-color);
  }
  header h1 {
    margin: 0;
    margin-left: 3%;
  }
  nav {
    border: var(--border-color);
    padding: 1rem;
    width: 40%;
    position: absolute;
    top: 54px;
    background-color: rgba(79, 79, 79, 0.98);
    border-radius: 0 1rem 1rem 1rem;
  }
  li {
    background-color: gray;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.349);
  }
  li:hover {
    border: var(--border-color);
    background-color: aqua;
    border-radius: 1rem;
    padding-inline: 0.5rem;
  }
  a {
    font-size: 50px;
  }
</style>
