---
const { title, description, image } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
---

<html>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <main class='bg-gradient-to-r from-slate-950 to-slate-800'>
    <slot />
  </main>
</html>
