---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body class='md:h-[100svh]'>
    <Header />
    <slot />
    <!-- styles -->
    <style>
      body {
        background: var(--backround-body);
      }
    </style>
  </body>
</html>
