---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
    <style></style>
    <ViewTransitions />
  </head>

  <body class='h-screen'>
    <Header />
    <slot />
    <style>
      body {
        background: var(--backround-body);
      }
    </style>
  </body>
</html>
